<nav class="main-nav">
  <% if (page.path != "/") { %>
    <a href="<%= site.baseurl %>">
      <span class="arrow">←</span> Home
    </a>
  <% } %>

  <% if (page.path != "/about/") { %>
    <a href="{{ site.baseurl }}about">About </a>
  <% } %>
</nav>
